@using TravelDream.Data.Models.Enums
@using TravelDream.Services.Utilities.Constants
@model TravelDream.Services.ViewModels.SeatModels.AddSeatsInputViewModel

@{
	ViewBag.Title = "Add Seats";
	Layout = "_Layout";
}
<success Message="@TempData["Message"]"></success>
<main class="mt-5 w-50 mx-auto main bg-white">
	<h1 class="text-center bg-bet p-2 top">Add Seats to Transport</h1>
	<form class="text-center font-weight-bold" method="post" asp-area="@GlobalConstants.ModerationAreaText" asp-action="AddSeats" asp-controller="Seats">
		<div class="p-2">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="SeatCount"></label>
				<input asp-for="SeatCount" class="form-control" placeholder="Seats Count..." />
				<span asp-validation-for="SeatCount" class="text-danger"></span>
			</div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="Price"></label>
				<input asp-for="Price" class="form-control" placeholder="Price..." />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="SeatType"></label>
				<select asp-for="SeatType" class="form-control" asp-items="Html.GetEnumSelectList<SeatType>()">
					<option selected="selected" value="">Please select</option>
				</select>
				<span asp-validation-for="SeatType" class="text-danger"></span>
			</div>
			<div class="form-group  mx-auto w-50">
				<label asp-for="TransportId"></label>
				<select asp-for="TransportId" class="form-control" id="transportsMenu">
					<option selected="selected" disabled>Select transport</option>
				</select>
			</div>
		</div>
		<input type="submit" id="btn-login" class="bg-bet p-2 w-100 font-weight-bold" value="Add More Seats" />
	</form>
</main>

@section Scripts {
	<script>
		$(document).ready(function() {
			$.ajax({
				url: "/@GlobalConstants.ModerationAreaText/Transports/GetAll",
				type: "GET",
				dataType: "json",
				success: function(sports) {
					$.each(sports,
						function(index, value) {
							console.log(value)
							$('#transportsMenu').append('<option value="' + value.id + '">' + value.designationNumber + '-' + value.companyName + '</option>');
						});
				}
			});
			//$("#startSeasonDate").kendoDateTimePicker({
			//	value: new Date(),
			//	dateInput: true,
			//	format: "yyyy/MM/dd hh:mm tt"
			//});
			//$("#endSeasonDate").kendoDateTimePicker({
			//	value: new Date(),
			//	dateInput: true,
			//	format: "yyyy/MM/dd hh:mm tt"
			//});
		});
	</script>
}