@using TravelDream.Services.Utilities.Constants
@model TravelDream.Services.ViewModels.CompanyModels.InputCompanyViewModel

@{
	ViewBag.Title = "Add Company";
	Layout = "_Layout";
}
<success Message="@TempData[GlobalConstants.SuccessMessageKey]"></success>
<main class="mt-5 w-50 mx-auto main bg-white">
	<h1 class="text-center bg-bet p-2 top">Add Company</h1>
	<form class="text-center font-weight-bold" method="post" asp-area="@GlobalConstants.AdministrationAreaText" asp-action="Add" asp-controller="Companies">
		<div class="p-2">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" placeholder="Name..." />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" placeholder="Email..." />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber..." />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="Address"></label>
				<input asp-for="Address" class="form-control" placeholder="Address..." />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="form-group  mx-auto w-50">
				<label asp-for="CountryId"></label>
				<select asp-for="CountryId" class="form-control" id="countriesMenu">
					<option selected="selected" disabled>Select country</option>
				</select>
			</div>
		</div>
		<input type="submit" id="btn-login" class="bg-bet p-2 w-100 font-weight-bold" value="Add" />
	</form>
</main>

@section Scripts {
<script>
		$(document).ready(function() {
			$.ajax({
				url: "/@GlobalConstants.AdministrationAreaText/Countries/GetAll",
				type: "GET",
				dataType: "json",
				success: function(sports) {
					$.each(sports,
						function(index, value) {
							$('#countriesMenu').append('<option value="' + value.id + '">' + value.name + '</option>');
						});
				}
			});
		});
</script>
}