@using TravelDream.Data.Models.Enums
@using TravelDream.Services.Utilities.Constants
@model TravelDream.Services.ViewModels.TransportModels.InputTransportViewModel

@{
	ViewBag.Title = "Add Transport";
	Layout = "_Layout";
}

<main class="mt-5 w-50 mx-auto main bg-white">
	<h1 class="text-center bg-bet p-2 top">Add Transport</h1>
	<form class="text-center font-weight-bold" method="post" asp-area="@GlobalConstants.ModerationAreaText" asp-action="Add" asp-controller="Transports">
		<div class="p-2">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="Number"></label>
				<input asp-for="Number" class="form-control" placeholder="Designation Number..." />
				<span asp-validation-for="Number" class="text-danger"></span>
			</div>
			<div class="form-group w-50 mx-auto">
				<label asp-for="TransportType"></label>
				<select asp-for="TransportType" class="form-control" asp-items="Html.GetEnumSelectList<TransportType>()">
					<option selected="selected" value="">Please select</option>
				</select>
				<span asp-validation-for="TransportType" class="text-danger"></span>
			</div>
			<div class="form-group  mx-auto w-50">
				<label asp-for="CompanyId"></label>
				<select asp-for="CompanyId" class="form-control" id="companiesMenu">
					<option selected="selected" disabled>Select country</option>
				</select>
			</div>
		</div>
		<input type="submit" id="btn-login" class="bg-bet p-2 w-100 font-weight-bold" value="Add" />
	</form>
</main>

@section Scripts {
	<script>
		$(document).ready(function() {
			$.ajax({
				url: "/@GlobalConstants.ModerationAreaText/Companies/GetAll",
				type: "GET",
				dataType: "json",
				success: function(sports) {
					$.each(sports,
						function(index, value) {
							$('#companiesMenu').append('<option value="' + value.id + '">' + value.name + '</option>');
						});
				}
			});
			//$("#startSeasonDate").kendoDateTimePicker({
			//	value: new Date(),
			//	dateInput: true,
			//	format: "yyyy/MM/dd hh:mm tt"
			//});
			//$("#endSeasonDate").kendoDateTimePicker({
			//	value: new Date(),
			//	dateInput: true,
			//	format: "yyyy/MM/dd hh:mm tt"
			//});
		});
	</script>
}