@using TravelDream.Services.Utilities.Constants
@model IList<TravelDream.Services.ViewModels.TripModels.TripViewModel>

@{
	ViewData["Title"] = "Home Page";
}
<div class="main-section">
	<table id="trips" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Departure</th>
				<th scope="col">Destination</th>
				<th scope="col">Departure Date</th>
				<th scope="col">Arrival Date</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

@section Scripts{
	<script>
		$(document).ready(function() {
			$("#trips").DataTable({
				"processing": false, // for show progress bar
				"serverSide": true, // for process server side
				"filter": true, // this is for disable filter (search box)
				"orderMulti": false, // for disable multiple column at once
				"ajax": {
					"url": "/@GlobalConstants.TravelsAreaText/Trips/GetAll",
					"type": "POST",
					"datatype": "json"
				},
				"columnDefs":
				[
					{
						"targets": [0],
						"visible": false,
						"searchable": false
					}
				],
				"columns": [
					{ "data": "id", "name": "id", "autoWidth": true },
					{ "data": "departure", "name": "departure", "autoWidth": true },
					{ "data": "destination", "name": "destination", "autoWidth": true },
					{ "data": "departureTime", "name": "departureTime", "autoWidth": true },
					{ "data": "arrivalTime", "name": "arrivalTime", "autoWidth": true },
					{
						"render": function(data, type, full, meta) {
							return '<td><a class="bg-bet btn-buy" href="@GlobalConstants.TravelsAreaText/Trips/Details/' + full.id + '">Details</a></td>';
						}
					},
					//{
					//	data: null,
					//	render: function(data, type, row) {
					//		return "<a href='#' class='btn btn-danger' onclick=DeleteData('" +
					//			row.CustomerID +
					//			"'); >Delete</a>";
					//	}
					//},
				]

			});
		});


		@*function DeleteData(CustomerID)
        {
            if (confirm("Are you sure you want to delete ...?"))
            {
                Delete(CustomerID);
            }
            else
            {
                return false;
            }
        }


        function Delete(CustomerID)
    {
        var url = '@Url.Content("~/")' + "DemoGrid/Delete";

            $.post(url, { ID: CustomerID }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#example').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Something Went Wrong!");
                    }
                });
    }*@
	</script>
}